@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
	url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
	url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2"), 
	url("../fonts/opensanslight.woff");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2"), 
	url("../fonts/opensans.woff");
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	font-style: normal;
	color: #464646;
	background-color: #ffffff;
}

.list-style {
	list-style: none;
	padding: 0;
	margin: 0;
}

.not-show {
	display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
			clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.gilroy-font {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.main-header {
	background-color: rgba(240, 197, 46, 0.5);
}

.header-logo {
	font-size: 48px;
	text-transform: uppercase;
	text-decoration: none;
}

.search-form input {
	background-color: transparent;
	border: none;
}

.search-form input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus,
.search-form input:active {
	border-bottom: 2px solid black;
}

.search-form button {
	background-color: transparent;
	border: 2px solid black;
}

.search-form button:hover,
.search-form button:focus {
	background-color: #000000;
	color: #ffffff;
}

.search-form button:active {
	color: rgba(255, 255, 255, 0.3);
}

.user-navigation a {
	color: #000000;
	text-decoration: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active {
	opacity: 0.3;
}

.site-navigation a {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	letter-spacing: 3.6px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	opacity: 0.6;
}

.site-navigation a:active {
	opacity: 0.3;
}

.categories-menu-list a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	font-style: normal;
	color: #000000;
	text-transform: none;
	letter-spacing: 0.2px;
}

.categories-menu-list a:hover,
.categories-menu-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.categories-menu-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.slide-heading {
	line-height: 56px;
}

.button {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 5;
}

.button::before {
	content: "";
	left: 1px;
	right: 1px;
	bottom: calc(50% - 4px);
	height: 8px;
	z-index: -1;
	background-color: #f0c52e;
	position: absolute;
	z-index: -5;
}

.button:hover,
.button:focus {
	background-color: #f0c52e;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.slide-table tr:first-of-type {
	font-weight: 300;
	font-size: 36px;
}

.slide-table tr:last-of-type {
	font-size: 13px;
	line-height: 20px;
}

.categories a {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.categories-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.service-slider {
	background-color: #e5e5e5;
}

.service-slider-controls label {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}

.delivery-services {
	font-size: 16px;
	line-height: 40px;
}

.main-footer {
	background-color: #464646;
	color: #ffffff;
}

.footer-logo {
	color: #ffc600;
	font-size: 48px;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-user-navigation a {
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}

.footer-site-navigation a {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px;
}

.phone {
	color: #ffffff;
	text-decoration: none;
}

/*---------Страница каталога---------*/

.user-navigation .sign-out-link {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.filters {
	background-color: #efefef;
}

.filters h2 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	background-color: #dcdcdc;
}

.filter-legend {
	font-size: 18px;
	line-height: 24px;
}

.price-controls {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
	border: none;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.2);
}

.color-filters, 
.bluetooth-filters {
	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filters button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.sorting {
	background-color: #ebebeb;
}

.sorting h3 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}

.sorting-button {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.sorting-button-curent {
	color: #000000;
}

.sorting-button[href]:hover,
.sorting-button[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-button[href]:active {
	color: #000000;
}

.sorting-dir-button {
	position: relative;
	font-size: 0;
	padding-left: 11px;
}

.sorting-dir-button::before {
	content: "";
	position: absolute;
	width: 11px;
	height: 10px;
	left: 0px;
	opacity: 0.2;
}

.sorting-dir-button:hover[href]::before,
.sorting-dir-button:focus[href]::before {
	opacity: 0.4;
}

.sorting-dir-button:active[href]::before {
	opacity: 1;
}

.sorting-dir-up::before {
	background-image: url("../img/sort-up.svg");
}

.sorting-dir-down::before {
	background-image: url("../img/sort-down.svg");
}

.sorting-dir-curent::before {
	opacity: 1;
}


.device-name {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.price {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #464646;
}

.catalog-pagination {
	background-color: #ebebeb;
}

.catalog-pagination a {
	font-family: "Gilroy", "Arial", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 3.2px;
	color: #000000;
}

.page a {
	color: rgba(0, 0, 0, 0.3);
}

.page-change:hover,
.page-change:focus,
.page-change:active {
	background-color: rgba(0, 0, 0, 0.08);
}

.page-change:active {
	color: rgba(0, 0, 0, 0.3);
}

.page:hover a,
.page:focus a {
	color: rgba(0, 0, 0, 0.6);
}

.page:active a {
	color: #000000;
}

.footer-user-navigation .sign-out-link {
	color: rgba(255, 255, 255, 0.3);
}

/*---------styleguide---------*/

.header-logo:hover, 
.footer-logo:hover {
	opacity: 0.6;
}

.header-logo:active, 
.footer-logo:active {
	opacity: 0.3;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
	color: #ffffff;
}

.footer-user-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.academy-logo {
	position: relative;
	padding-left: 30px;
	font-size: 0;
}

.academy-logo::before {
	content: "";
	width: 27px;
	height: 36px;
	position: absolute;
	left: 0px;
	background-image: url("../img/logo-html.svg");
}

.academy-logo:hover::before,
.academy-logo:focus::before {
	opacity: 0.6;
}

.academy-logo:active::before {
	opacity: 0.3;
}

.social-button {
	padding-left: 32px;
	position: relative; 
	font-size: 0;
}

.social-button::before {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0;
	top: 0;
	opacity: 0.3;
}

.social-button:hover::before,
.social-button:focus::before {
	opacity: 0.6;
}

.social-button:active::before {
	opacity: 0.1;
}

.social-fb::before {
	background-image: url("../img/fb.svg");
}

.social-ig::before {
	background-image: url("../img/ig.svg");
}

.social-tw::before {
	background-image: url("../img/tw.svg");
}

.item-card {
	position: relative;
}

.item-card:hover .catalog-item-buttons {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.7);
}

.compare-button {
	border: none;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.5);
}

.compare-button:hover,
.compare-button:focus {
	color: #000000;
}

.compare-button:active {
	color: rgba(0, 0, 0, 0.2);
}

.logo {
	filter: grayscale(100%);
	opacity: 0.2;
}

.logo:hover {
	filter: grayscale(0%);
	opacity: 1;
}