@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroyextrabold.woff2") format("woff2"),
  src: url("/fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroylight.woff2") format("woff2"),
  src: url("/fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
  font-weight: 300;
  font-style: normal;
	color: #464646;
	background-color: #ffffff;
}

.list-style {
	list-style: none;
	padding: 0;
	margin: 0;
}

.not-show {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
			clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.gilroy-font {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

header {
  background-color: #f0c52e;
}

.header-logo {
  font-size: 48px;
  text-transform: uppercase;
}

.user-navigation a {
  color: #000000;
  text-decoration: none;
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.slide-heading {
  line-height: 56px;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slide-table tr:first-of-type {
  font-weight: 300;
  font-size: 36px;
}

.slide-table tr:last-of-type {
  font-size: 13px;
  line-height: 20px;
}

.categories a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.service-slider {
  background-color: #e5e5e5;
}

.service-slider-controls label {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.delivery-services {
  font-size: 16px;
  line-height: 40px;
}

footer {
  background-color: #464646;
  color: #ffffff;
}

.footer-logo {
  color: #ffc600;
  font-size: 48px;
  text-transform: uppercase;
}

.footer-user-navigation a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.phone {
  color: #ffffff;
  text-decoration: none;
}

